input[type=number]{
	width: 80px;
	display: block;
	margin-bottom: 40px;
	background-color: #DFFFDF;
	color: gray;
}
input[type=button]{
	width: 80px;
	display: block;
	background-color: black;
	color: yellow;
}
body{
	background-color: #FFFFCC;
}
h2{
	color: red;
}
h3{
	color: black;
}

	